body {
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    
}

img {
    max-width: 100%;
    display: block;
    margin: 50px

}

.vertical-line-yellow {
    width: 50px; 
    height: 3000px; 
    background-color: yellow; 
    position: absolute;
    left: 0%; 
    transform: translateX(-100%);
    transform: translateY(3%);
    display:flex

    
}
.vertical-line-blue{
    width: 50px; 
    height: 3000px; 
    background-color: rgb(44, 175, 215); 
    position: absolute;
    right: 0%; 
    transform: translateX(3%);
    transform: translateY(30%);
    display:flex

}


header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    margin: 0px;
    padding: 15px;
    text-align: center;

}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px

}
header a{
    text-decoration: none;
    color: black; 
  
}

header a:hover {
    text-decoration: underline;
}

header nav a {
    text-decoration: underline;

}

section.hero{
    background-color: rgb(255, 255, 255);
    margin: 50px 50px 50px 50px;
    padding: 100px;

   }

   h1{
font-weight: bold;
font-size: 30px;
padding: 30px
   }

   h2{
font-weight: bold;
font-size: 30px;
padding: 30px
   }

   h3{
    font-weight: bold;
    font-size: 30px;
    padding: 30px
   }

   section.argomento{
    margin: 50px 50px 50px 50px;
    padding: 100px;

}

section.progetti{
    margin: 50px 50px 50px 50px;
    padding: 100px;

}

.contenitore{
    max-width: 1400px;
    margin: 100;
    text-align: left;
}

section.info{
    background-color: aqua;
    padding: auto;
}
section.info h1 {
    margin: 100px;
    padding: 100px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: large;
}
section p {
text-align: left;
font-weight: lighter;
font-size: 16px;
}

section.info img{
    margin: 16px;
    padding: 16px

}
    

footer {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 13px;


}

footer a{
    text-decoration: underline;
    color: black;
    text-align: right;
    justify-content: right;
}

footer a:hover {
    text-decoration: underline;
    text-align: right;
    padding: 13px
}

footer ul {
    margin: 0;
    padding: 13px;
    list-style: none;
    display: flex;
    gap: 100px;
    text-align: right;
    justify-content: right;
    
    
    
    
}

